.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
assets/
assets.zip
output.png

# Flutter
Mobile/swaya_app/.dart_tool/
Mobile/swaya_app/.flutter-plugins
Mobile/swaya_app/.flutter-plugins-dependencies
Mobile/swaya_app/build/
Mobile/swaya_app/.packages
